/*https: //www.w3schools.com/cssref/sel_before.asp
https: //www.w3schools.com/csS/css3_box-sizing.asp*/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
    font-family: 'Chakra Petch',
    sans-serif;
    font-weight: normal;
}
/*https: //www.w3schools.com/csSref/func_linear-gradient.asp*/
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, red, blue);
}
#calculator{
    /*https: //www.youtube.com/watch?v=WeUEqZQ7ADU&ab_channel=KevinPowell*/
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.btn{
    /*https: //www.w3schools.com/css/css_outline.asp*/
    cursor: pointer;
    font-size:2rem;
    border:1px solid white;
    outline:none;
    background-color: rgba(255,255,255,0.75);
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0.9);
}
.span-two{
    /*https: //www.w3schools.com/CSSref/pr_grid-column.asp*/
    grid-column: span 2;
}
#display{
    grid-column: 1/-1;
    background-color: blueviolet;
    display:flex;
    align-items:flex-end;
    justify-content:space-around;
    flex-direction: column;
    word-wrap:break-word;
    word-break: break-all;
}
#displayTop{
    color:rgba(0, 0, 0, 0.75);
    font-size: 1.5rem;
}
#displayBot {
    color: black;
    font-size: 2.5rem;
}